# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# env folders
backups/
files/

local/data/

# system files
.DS_Store

wg-0.conf
